In [1]:
#Create a list of 5 countries and save it as a CSV file.

In [2]:
Country_list = [ 'India','China','Nepal','Germany','Russia']

In [3]:
type(Country_list)

list

In [5]:
import pandas as pd

In [9]:
abc = pd.Series(Country_list, name="Countryname")

In [10]:
abc

0      India
1      China
2      Nepal
3    Germany
4     Russia
Name: Countryname, dtype: object

In [11]:
type(abc)

pandas.core.series.Series

In [21]:
abc.to_csv('country.csv',index = False )

In [22]:
type(abc)

pandas.core.series.Series

In [23]:
df = abc.to_frame()

In [24]:
df

  Countryname
0       India
1       China
2       Nepal
3     Germany
4      Russia