In [1]:
#Creating a list with respect to nature

In [2]:
Nature_list = ['Trees','Rivers','Mountains','Sky','Forest']

In [3]:
Nature_list

['Trees', 'Rivers', 'Mountains', 'Sky', 'Forest']

In [4]:
type(Nature_list)

list

In [5]:
import pandas as pd

In [6]:
#We can create series from list, dic, int, string

In [7]:
nature = pd.Series(Nature_list)

In [8]:
nature

0        Trees
1       Rivers
2    Mountains
3          Sky
4       Forest
dtype: object

In [9]:
type(nature)

pandas.core.series.Series

In [10]:
# We have to convert the series to dataframe

In [12]:
df =nature.to_frame()

In [13]:
df

           0
0      Trees
1     Rivers
2  Mountains
3        Sky
4     Forest

In [14]:
# Giving a name to column

In [18]:
df = pd.DataFrame(Nature_list , columns = ["Scenery"])

In [19]:
df

     Scenery
0      Trees
1     Rivers
2  Mountains
3        Sky
4     Forest

In [20]:
# if you want to create another column then

In [21]:
df['Properties'] = ['Land','Water','Huge','Blue','Green']

In [22]:
df

     Scenery Properties
0      Trees       Land
1     Rivers      Water
2  Mountains       Huge
3        Sky       Blue
4     Forest      Green

In [23]:
#Renaming properties to type

In [27]:
df = df.rename(columns ={"Properties" : "Type"})

In [25]:
df

     Scenery   Type
0      Trees   Land
1     Rivers  Water
2  Mountains   Huge
3        Sky   Blue
4     Forest  Green

In [28]:
!git add .

In [29]:
!git commit -m "list columns rename"

[main 337765f] list columns rename
 3 files changed, 1398 insertions(+), 18 deletions(-)
 create mode 100644 .ipynb_checkpoints/pandas_nature-checkpoint.ipynb
 create mode 100644 pandas_nature.ipynb

In [30]:
!git push

Enumerating objects: 8, done.
Counting objects: 100% (8/8), done.
Delta compression using up to 8 threads
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 4.21 KiB | 1.40 MiB/s, done.
Total 5 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), completed with 3 local objects.
To github.com:madhuriankara/python-basics.git
   6fac891..337765f  main -> main