In [2]:
#Create a DataFrame that contains random integers between 1 and 50 for 10 rows.

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randint(1,51,10), columns = ["random_integers"])

In [6]:
df

   random_integers
0               20
1               40
2               43
3               34
4               10
5               12
6                1
7               28
8               46
9               38

In [7]:
#Square of random numbers

In [10]:
df = pd.DataFrame(np.random.randint(1,51,10), columns = ["random_integers"])

In [18]:
df_squared = pd.DataFrame(df["random_integers"] ** 2, columns=["squared_integers"])

In [19]:
df_squared

Empty DataFrame
Columns: [squared_integers]
Index: []

In [20]:
df

   random_integers
0               20
1               40
2               43
3               34
4               10
5               12
6                1
7               28
8               46
9               38

In [40]:
random_int = np.random.randint(1,51,10)

In [41]:
df = pd.DataFrame({
    "Random_integers":random_int,
    "Squared_integers":random_int **2}
                 )

In [42]:
df

   Random_integers  Squared_integers
0               30               900
1                9                81
2               22               484
3               31               961
4                5                25
5               48              2304
6               31               961
7               23               529
8               16               256
9               36              1296

In [45]:
df["E"] = np.random.randint(1,100,df.shape[0])

In [46]:
df

   Random_integers  Squared_integers   E
0               30               900  28
1                9                81  63
2               22               484  34
3               31               961  90
4                5                25  81
5               48              2304  64
6               31               961  45
7               23               529  99
8               16               256  54
9               36              1296  80

In [49]:
new_df = pd.DataFrame(np.random.randint(1,100,size = (5,3)), columns = ("columnA", "columnB", "columnC"))

In [50]:
new_df

   columnA  columnB  columnC
0       23       23       19
1       92       24       98
2       60       89        6
3       35       42       97
4       33       48       27

In [54]:
Mean_values = df.mean()

In [56]:
Median_values = df.median()

In [57]:
standard_values = df.std()

In [58]:
Mean_values

Random_integers      25.1
Squared_integers    779.7
E                    63.8
dtype: float64

In [59]:
df.mean()

Random_integers      25.1
Squared_integers    779.7
E                    63.8
dtype: float64

In [60]:
df

   Random_integers  Squared_integers   E
0               30               900  28
1                9                81  63
2               22               484  34
3               31               961  90
4                5                25  81
5               48              2304  64
6               31               961  45
7               23               529  99
8               16               256  54
9               36              1296  80

In [62]:
df3 = pd.DataFrame(np.random.randint(1,100,size = (5,3)), columns = ("columnA", "columnB", "columnC"))

In [63]:
Mean_values = df.mean()

In [64]:
Median_values = df.median()

In [65]:
standard_values = df.std()

In [66]:
Mean_values

Random_integers      25.1
Squared_integers    779.7
E                    63.8
dtype: float64

In [67]:
df3 = pd.DataFrame(np.random.randint(1,100,size = (5,3)), columns = ("columnA", "columnB", "columnC"))

In [68]:
df3

   columnA  columnB  columnC
0       36       32       29
1       84       31       19
2       77       45        6
3       54       88       27
4       92       86       74

In [69]:
df

   Random_integers  Squared_integers   E
0               30               900  28
1                9                81  63
2               22               484  34
3               31               961  90
4                5                25  81
5               48              2304  64
6               31               961  45
7               23               529  99
8               16               256  54
9               36              1296  80

In [70]:
df_no_duplicates = df.drop_duplicates()

In [71]:
df_no_duplicates

   Random_integers  Squared_integers   E
0               30               900  28
1                9                81  63
2               22               484  34
3               31               961  90
4                5                25  81
5               48              2304  64
6               31               961  45
7               23               529  99
8               16               256  54
9               36              1296  80

In [88]:
df_new = pd.DataFrame(np.random.randint(1, 10, size=(2,3)),columns = ["columnA", "columnB", "columnC"])

In [89]:
df_new

   columnA  columnB  columnC
0        5        7        1
1        6        9        7

In [90]:
df_duplicates = df.drop_duplicates()

In [91]:
df_duplicates

   Random_integers  Squared_integers   E
0               30               900  28
1                9                81  63
2               22               484  34
3               31               961  90
4                5                25  81
5               48              2304  64
6               31               961  45
7               23               529  99
8               16               256  54
9               36              1296  80

In [92]:
df_new_drop = df_new.drop_duplicates()

In [93]:
df_new_drop

   columnA  columnB  columnC
0        5        7        1
1        6        9        7

In [94]:
!git add .

In [95]:
!git commit -m "Generating random numbers"

[main df77fc9] Generating random numbers
 3 files changed, 1588 insertions(+), 1 deletion(-)
 create mode 100644 .ipynb_checkpoints/randomnumbers-checkpoint.ipynb
 create mode 100644 randomnumbers.ipynb

In [96]:
!git push

Enumerating objects: 8, done.
Counting objects: 100% (8/8), done.
Delta compression using up to 8 threads
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 4.35 KiB | 4.35 MiB/s, done.
Total 5 (delta 3), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To github.com:madhuriankara/python-basics.git
   003331f..df77fc9  main -> main