In [2]:
students_data = {
    "Name" : ["Keerthi","Madhuri", "Shreyas" ,"Bob", "Alice"],
    "Email" : ["Kee@gmail.com","madhuri@gmail.com","shreyas@gmail.com","bob@gmail.com","alice@gmail.com"]
}

In [3]:
students_data

{'Name': ['Keerthi', 'Madhuri', 'Shreyas', 'Bob', 'Alice'],
 'Email': ['Kee@gmail.com',
  'madhuri@gmail.com',
  'shreyas@gmail.com',
  'bob@gmail.com',
  'alice@gmail.com']}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(students_data)

In [6]:
df

      Name              Email
0  Keerthi      Kee@gmail.com
1  Madhuri  madhuri@gmail.com
2  Shreyas  shreyas@gmail.com
3      Bob      bob@gmail.com
4    Alice    alice@gmail.com

In [11]:
df["student_id"] = [111,222,333,444,555]

In [12]:
df

      Name              Email  student_id
0  Keerthi      Kee@gmail.com         111
1  Madhuri  madhuri@gmail.com         222
2  Shreyas  shreyas@gmail.com         333
3      Bob      bob@gmail.com         444
4    Alice    alice@gmail.com         555

In [13]:
additional_data = {
    "Name" : [ "Charlie", "Pav"],
    "Email" :["charlie@gmail.com" , "pavs@gmail.com"],
    "student_id" : [666,777]
}

In [14]:
df_additional_data = pd.DataFrame(additional_data)

In [18]:
combined_students_df = pd.concat([df, df_additional_data], ignore_index=True, sort=False)

In [19]:
combined_students_df

      Name              Email  student_id
0  Keerthi      Kee@gmail.com         111
1  Madhuri  madhuri@gmail.com         222
2  Shreyas  shreyas@gmail.com         333
3      Bob      bob@gmail.com         444
4    Alice    alice@gmail.com         555
5  Charlie  charlie@gmail.com         666
6      Pav     pavs@gmail.com         777

In [20]:
new_data = {
    "Name" : ["Maya"],
    "Email" : ["maya@gmail.com"]
}

In [21]:
df_new_data = pd.DataFrame(new_data)

In [23]:
overall_data_df = pd.concat([combined_students_df, df_new_data], ignore_index =True, sort=False)

In [24]:
overall_data_df

      Name              Email  student_id
0  Keerthi      Kee@gmail.com       111.0
1  Madhuri  madhuri@gmail.com       222.0
2  Shreyas  shreyas@gmail.com       333.0
3      Bob      bob@gmail.com       444.0
4    Alice    alice@gmail.com       555.0
5  Charlie  charlie@gmail.com       666.0
6      Pav     pavs@gmail.com       777.0
7     Maya     maya@gmail.com         NaN